/* GENERAL */
.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #f8f9fa;
}
body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  display: block;
}
/* STRUCTURE */
header {
  width: 100%;
  height: 70px;
}
main {
  width: 100%;
  height: calc(100vh - 70px);
}
#sidebar {
  width: 150px;
  height: 100%;
  background-image: url(../img/sidebar-bg.png);
  background-color: #0f263d;
}
#main-content {
  width: calc(100% - 150px);
  height: 100%;
  overflow-y: auto;
}

/* ----- PAGE CONTENT----- */
/* HEADER */
#header div {
  height: 70px;
}
#logo {
  width: 150px;
}
#header input {
  width: 100%;
}
/* SIDEBAR */
#side-top ul li {
  /* width: 50px; */
}

/* NAVBAR */

/* DASHBOARD */
#next-class {
  height: 50%;
  max-height: 50%;
}
#next-class table tr :first-child {
  text-align: left;
}
